.App {
    display: flex;
    justify-content: center;
}

.messages {
    margin-top: 200px;
    padding: 10px;
    border: 1px solid black;
    height: 300px;
    width: 300px;
    overflow-y: scroll;
}