.App {
    display: flex;
    justify-content: center;
}

.messages {
    margin-top: 200px;
    padding: 10px;
    border: 1px solid black;
    height: 300px;
    width: 300px;
    overflow-y: scroll;
}

.nameBlock {
    margin: 10px 0;
}

.nameBlock button {
    margin-left: 10px;
}

.name {
    cursor: pointer;
}

.messageBlock {
    display: flex;
    flex-direction: column;
}

.messageBlock textarea {
    resize: vertical;
}

.messageBlock button {
    margin-top: 10px;
    align-self: center;
}